<!DOCTYPE html>
<html ng-app="ds.weatherApp">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_modules/dist/angular-chart.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ui-view></div>
    <script src="/bower_modules/Chart.js/Chart.js"></script>
    <script src="/bower_modules/skycons/skycons.js"></script>
    <script src="/bower_modules/angular/angular.js"></script>
    <script src="/bower_modules/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/bower_modules/angular-skycons/angular-skycons.js"></script>
    <script src="/bower_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/dist/js/app.js"></script>
  </body>
</html>
